
.btn-menu{
    margin-right: 6%;
    cursor: pointer;
    display: none;
}
.menu.desplecable{
    top: 50px;
}
@media (max-width: 750px){
    .btn-menu{
        display: inline-flex;
    }
    .menu{
        margin: 0;
        z-index: 2;
        position: fixed;
        width: 100vw;
        height: calc(100% - 45px);
        background: rgba(78, 0, 26, 0.959);
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        top: -100vh;
        transition: all .4s;
    }
    .redes{
        margin-top: 4%;
    }
    .contenedor-menuNav li{
        display: block;
        margin-top: 40px;
        font-size: 30px;
    }
    .Logo-tipo{
        width: 100px;
        height: 50px;
    }
}
@media (max-width: 750px) and (orientation: landscape){
    .menu{
        overflow: scroll;
        height: calc(100% - 50px);
    }
}